<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restaurant Project", "Menu", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a onclick="hideIt();">Toogle Side Menu</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div><!--navbarfortop-->
   
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
                <a href="#">
                    Restaurant
                </a>
            </li>
            <li>
                <a href="~/Customers/Index">New Order</a>
            </li>
            <li>
                <a href="~/Home/Menu">Menus<i class="fa fa-bar-chart-o fa-fw"></i></a>
            </li>
            <li>

                <a href="~/Customers/Create">Add Customer</a>
            </li>
            <li>
                <a href="~/Items/Create">Add Item</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    
    <!-- /.navbar-static-side -->
    <div class="container">

        @RenderBody()

       <hr/>
        <footer>
            <p>Betwar512: A.H.S</p>
        </footer>
    </div>
   
   
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/adminLay")
    @RenderSection("scripts", required: false)

    
</body>


</html>
