@model IEnumerable<RestaurantUnitTest.Models.Menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron" >
    <h1>Menus</h1>
    <p class="lead">This Web Application CReated BY A.H.Safaie for assignment part 2 software 2014</p>
    <p>You can Edite and Update anyItem from Detail Page </p>
</div>

<h2>Menu</h2>
 
<div class="row">
    <p>MENU ITEMS </p>
</div>

<div class="row">
                        @foreach (var i in Model)
                        {
                            var Items = i.Items;
                            foreach (var t in Items)
                            {
                                var Photo = t.Picture;
                                var imagePath = @"\images\" + Photo;
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder/300x300" src="@imagePath" alt="...">
            <div class="caption">
                <h3>@t.Name</h3>
                <p>@t.Description</p>
                <p>@Html.ActionLink("Edit", "Edit", "Items", new { id = t.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                   @Html.ActionLink("Detail", "Details", "Items", new { id = t.Id }, htmlAttributes: new { @class="btn btn-info" })
                </p>
            </div>
        </div>
    </div>
             }@*end of first loop Menu*@
        }@*end of second Loop Items*@
</div>