@model IEnumerable<RestaurantUnitTest.Models.Menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This Web Application CReated </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Menu</h2>
   
        @*<section class=" col-lg-8" style="padding-left:50px;">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Items
                </div>
                <!-- /.panel-heading -->
                <!--timeLine here for items -->
                <div class="panel-body">
                    <ul class="timeline">
            
                        @foreach (var i in Model)
                        {
                            var Items = i.Items;
                            foreach (var t in Items)
                            {
                                var Photo = t.Picture;
                                var imagePath = @"\images\thumbs\" + Photo;
      
                        <li>
                            <div class="timeline-badge">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="timeline-title">@t.Name</h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i> @t.TimeStamp</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <img src="@imagePath" />
                                </div>
                            </div>
                        </li>
                                  }
                              }
                    </ul>
                </div>
            
            </div>
        </section>*@
<div class="row">
    <p>this isi second part </p>
</div>

<div class="row">
                        @foreach (var i in Model)
                        {
                            var Items = i.Items;
                            foreach (var t in Items)
                            {
                                var Photo = t.Picture;
                                var imagePath = @"\images\" + Photo;
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder/300x300" src="@imagePath" alt="...">
            <div class="caption">
                <h3>@t.Name</h3>
                <p>@t.Description</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
             }@*end of first loop Menu*@
        }@*end of second Loop Items*@
</div>