@model RestaurantUnitTest.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditCard.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCard.CardName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditCard.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCard.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditCard.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCard.CardType)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "myList")
</p>
