@model RestaurantUnitTest.Models.Customer


    <section class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Customer Detail
    </div>

    <div class="panel-body ">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FistName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FistName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditCard.CardName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditCard.CardName)
            </dd>

        </dl>
    </div>
</section>
