@model RestaurantUnitTest.Models.Customer

<div class="panel panel-green">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Finded Customer
    </div>
    <!-- /.panel-heading -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FistName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                </tr>
            </thead>
            <tbody class="panel-body">
                     
                       <tr>           
                         <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FistName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
            
            </tbody>

        </table>
    </div>
</div>
