@model IEnumerable<RestaurantUnitTest.Models.Customer>



    <div class="col-lg-7" style="padding-left:280px; padding-top:75px;">

        @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCard.CardName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditCard.CardName)
                    </td>
                    <td>
                        <button type="button" id="detailBtn" class="btn-danger" onclick="detailA(@item.Id)">Detail</button>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ 
                      
                    </td>
                </tr>
            }

        </table>

    </div>
    <div id="detail" class="col-lg-5" style="padding-top:75px;">

    </div>


@*Ajax to get detail here in col 5 id=detail*@

        <script>
            function detailA(id) {
                
                $.ajax({
                    url: '/Customers/detail',
                    contentType: 'application/html; charset=utf-8',
                    data: { Id: id },
                    type: 'Get',
                    dataType: 'html'
                })
                .success(function (result) {

                    $('#detail').html(result);
                })
                .error(function (xhr, status) {
                    alert(status);
                })

            }
        </script>